.navbar{
    background-color: transparent;
    text-shadow: 0 0 3px black;
} 
.navbar.colorChange{
    background-color: black;
}

.bj{
    color: #feb300;
    text-shadow: 0 0 3px black;
}
.bj :hover {
    color: #fff; 
}
.icon div {
    height: 3px; 
    background: #feb300;
    text-shadow: 0 0 3px black;
    margin: 5px 0px 7px 0px;
    border-radius: 45px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background: linear-gradient(to left, #cea851, rgb(240, 130, 6));
}
.two, .four{
    width: 20px;
    position: relative;
    left: 4.5px;
}

/* .nav-item .active {
    border-bottom: 3px solid #feb300;
    color: #feb300;
}  */